<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="movies">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Movies</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="serien">
      <ion-icon name="people"></ion-icon>
      <ion-label>Serien</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="animes">
      <ion-icon name="location"></ion-icon>
      <ion-label>Animes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="pornos">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>Pornos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
